#divDisclaimer{
	text-align: center;
	background-image: url(../images/marvel_disclaimer2.jpg);

	color: white;
}

aside{
	float: left;
	box-shadow: 0 0 0 10px red;
}

section{
	float: left;
	box-shadow: 0 0 0 10px green;
}

#divDisclaimer{
	height: 440px;
	width: 100%;
	direction:ltr; 
    overflow:auto; 
}