.rowGenre{
	background:#3C7FF9 ;
	color: white;
}

#tableSearch{
	width: 100%;
	border: 1;
}

#txtSearch{
	width: 80%;
}

#popularDiv, #qualDiv, #topDiv, #recoDiv{
	height: 440px;
	direction:ltr; 
    overflow:auto; 
}


#copyright{
	color: white;
}

#gotoCopyright {
	text-decoration: none;
	color: white;
}