html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-image: url(../images/fondo_1.jpg);
}

table{
	font-weight: bold;
	color: white;
}

#rowBtnLogin{
	text-align: center;
}

a{
	text-decoration: none;
	color: #AFE1FE;
}

a.underlined
{
   text-decoration:underline;
}

.errorMsg{
    color: red;
}
